.header-item {
    font-size: 1.25rem;
}

.header-item:hover {
    background-color: #e8e8e8;
    border-radius: 25px;
}

.header-item-name {
    font-size: 1.1rem
}

.header-item-role {
    font-size: 0.8rem
}